h1 {
    color: black;
    background-color: white;
    border: 0px solid black;
  }
  
p {
    color: black;
  }
ul { 
    color: black;
    background-color: white;
    border: 0px solid black;
}
 h3 {
     color: blueviolet;
     background-color: white;
     border: 0px solid black;
 }
